* {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    /* Geralmente os navegadores estipulam um valor de padding e margin padrão em suas páginas, porepm ete valor não é padrão - É prática comum do dev, zerar (resetar) estes parâmetros. */
    box-sizing: border-box;
}

.logo {
    width: 568px;
    height: 500px;
    margin-left: 125px;
    display: inline-block;
}

header {
    margin: 44px 0px 144px 76px;
}

.link-header {
    font-weight: 600;
    font-size: 24px;
    color: #989D9C;
    margin-right: 23px;
    line-height: 29px;
    cursor: pointer;
}

.button-login {
    font-weight: 600;
    font-size: 24px;
    color: #FFFFFF;
    background: #665AE1;
    border-radius: 20.5px;
    border: none;
    width: 130px;
    height: 41px;
    cursor: pointer;
}

h1 {
    font-weight: 900;
    font-size: 100px;
    line-height: 122px;
    color: #515151;
    margin-top: 217px;
}

h2 {
    font-weight: 500;
    font-size: 58px;
    line-height: 71px;
    color: #515151;
}

p {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #848484;
    width: 515px;
    margin-top: 32px;
}

.button-main {
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #000000;
    background: #ADFF00;
    border-radius: 20.5px;
    border: none;
    width: 239px;
    height: 64px;
    text-transform: uppercase;
    margin-top: 80px;
    cursor: pointer;
}

section {
    display: inline-block;
    margin-left: 86px;
}

@media screen and (max-width: 900px) {

    * {
        padding: 0;
        margin: 0;
    }

    .logo {

        width: 95vw;
        height: 55%;
        margin: 40% 10px 0 10px;
        align-content: center;
        display: block;
    }

    section {
        margin-left: 5px;
    }

    header {
        display: none;
    }

    p {
        display: none;
    }

    h1 {
        margin-top: 15%;
        margin-left: 65px;
        margin-bottom: 0px;
        font-size: 50px;
        width: 90vw;
        padding-bottom: 0;
        line-height: 10px;
    }

    h2 {
        font-size: 30px;
        width: 450px;
        margin-left: 19%;
        margin-top: 0px;
        line-height: none;
    }

    .button-main {
        font-size: 50px;
        margin-top: 25px;
        margin-left: 26px;
        width: 370px;
    }

}